p{
    color: green;
    font-size: 25;
    
}
#cabezera{
   width: 70%; 
   text-align: center;
   background: blue;
   margin: 0 auto;
}
#post{
    margin: 0 auto;
}
.cabecera{
    border-radius: 24px 27px 158px 158px;
    -moz-border-radius: 24px 27px 158px 158px;
    -webkit-border-radius: 24px 27px 158px 158px;
    border: 7px solid #3c355e;
}